*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    font-family: poppins;
    margin: 0;
    display: grid;
    font-size: 14px;
}

header p {
    padding: 40px;
    text-align: center;
    color: #bebebe;
    text-transform: uppercase;
    font-size: 65px;
    font-weight: 700;
}

.footer {
    display: flex;
    flex-flow: row wrap;
    padding: 30px;
    /*background-color: #ebf8f2;*/
    /*font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 30px;*/
    background-image: linear-gradient(to top, lightgrey 0%, lightgrey 1%, #e0e0e0 26%, #efefef 48%, #d9d9d9 75%, #bcbcbc 100%);
}

.footer>* {
    flex: 1 100%;
}

.l-footer {
    margin-right: 1.25em;
    color: #512b2b
    /*margin-bottom: 0.4em;*/
}

.h2head {
    /*font-weight: 400;*/
    /*font-size: 15px;*/
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: #512b2b
}

.footer ul {
    list-style: none;
    padding-left: 0;
}

.footer li {
    line-height: 2em;
}

.footer a {
    text-decoration: none;
}

.r-footer {
    display: flex;
    flex-flow: row wrap;
}

.r-footer>* {
    flex: 1 50%;
    margin-right: 1.25em;
    margin-top: 1rem;
}

.box li,
.box li a {
    color: #000;
    font-size: 13px;
}

.h-box {
    column-count: 2;
    column-gap: 1.25em;
}

.b-footer {
    text-align: center;
    color: #000;
    padding-top: 50px;
}

.img_socials {
    height: 20px;
    width: 24px;
    margin-right: 10px;
}

@media screen and (min-width: 600px) {
    .r-footer>* {
        flex: 1;
    }
    .features {
        flex-grow: 2;
    }
    .l-footer {
        flex: 1 0px;
    }
    .r-footer {
        flex: 2 0px;
    }
}