<footer class="footer" id="footer">
    <div class="l-footer">
        <img src="assets/svg/swedlogo.svg" alt="" style="height: 3rem; width:10rem;">
    </div>
    <ul class="r-footer">
        <li>
            <h2 class="h2head">Location</h2>
            <ul class="box">
                <li>Swedbank”, AB Konstitucijos pr.</li>
                <li>20A, 03502 Vilnius,Lithuania.</li>
                <li>SWIFT code: HABALT22 </li>
                <li>Legal entity code: 112029651</li>
            </ul>
        </li>
        <li>
            <h2 class="h2head">Contacts</h2>
            <ul class="box">
                <li><a href="https://www.linkedin.com/company/swedbanklietuvoje/">info@swedbank.com</a></li>
                <li><a href="https://www.swedbank.lt/private/home/more/appointments">Book a consultation</a></li>

            </ul>
        </li>
        <li>
            <h2 class="h2head"> Follow on </h2>
            <div class="social_imgs">
                <a href="https://www.linkedin.com/company/swedbanklietuvoje/"><img src="assets/img/linkedin.png" alt="" class="img_socials"></a>
                <a href="https://web.facebook.com/SwedbankLietuvoje/?_rdc=1&_rdr"><img src="assets/img/facebook.png" alt="" class="img_socials"></a>
                <a href=" https://twitter.com/swedbank_lt"><img src="assets/img/twiter.png" alt="" class="img_socials"></a>
                <a href="https://www.youtube.com/channel/UCXDqabvs7saIBFn2rRoMhyA"><img src="assets/img/youtube.png" alt="" class="img_socials"></a>
                <a href="https://www.instagram.com/swedbanklietuvoje/"><img src="assets/img/instagram.png" alt="" class="img_socials"></a>
            </div>
        </li>
        <li>
            <h2 class="h2head">Customer programmes</h2>
            <ul class="box">
                <li><a href="https://www.swedbank.lt/private/home/segments/juniorprogram/start">Swedbank’s Youth Programme</a></li>
                <li><a href="https://www.swedbank.lt/private/home/segments/parents">For parents of children and youth</a></li>
                <li><a href="https://www.swedbank.lt/private/home/segments/salaryReceivers">Golden Programme</a></li>
                <li><a href="https://www.swedbank.lt/private/home/segments/privatebanking">Private Banking</a></li>
                <li><a href="https://www.swedbank.lt/private/home/segments/seniors">Senior Programme</a></li>

            </ul>
        </li>
    </ul>
    <div class="b-footer">
        <p>
            All rights reserved by ©Swedbank 2020 </p>
    </div>
</footer>