<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<div class="header-nav">
    <header class="page-header">
        <div class="page-header__top">
            <div class='page-header__logo'><img src="assets/svg/swedlogo.svg" alt="" id="logo_header"></div>
            <div class="page-header__toggle">☰</div>
        </div>
        <nav class="page-header__bottom">
            <ul id="navigation" class="navigation">

                <li class="navigation__item"> <a href="">Home</a></li>
                <li class="navigation__item"><a href="#About">About</a></li>
                <!--<li class="navigation__item"><a href="">FAQ</a></li>-->
                <li class="navigation__item"> <a href="#footer">Contact</a></li>
                <li class="navigation__item">
                    <a href="apply"> <button class="btn">Apply</button></a>
                </li>

            </ul>
        </nav>
    </header>
</div>



<!--onclick="toggleMenu() "-->





<router-outlet> </router-outlet>