<div class="container">
    <img width="100%" height="600" style="text-align: center; background-image:url('assets/img/banner.jpg');background-repeat: no-repeat;background-size: cover;background-color: rgba(5, 4, 4, 0.782);
    background-blend-mode: lighten;">
    <div class="middleword">
        <h2 class="color">Mortgage loan is a perfect solution when you need a loan for a new home</h2>
        <button class="btn" style=" color: #ffff;"><a href="/apply">Apply</a> </button>
    </div>

</div>

<section class="about" id="About">
    <div class="about_section">
        <h1 class="h1"> About Us</h1>
        <div class="subsection">
            <div class="left">
                <h3 class="h3class">There’s no place like home! <span class="mort_loan">Mortgage loan</span> </h3>
                <p class="heading">Home loan will be a perfect solution if you need a loan for a new home, serious renovation or construction.</p>
                <ul class="list">
                    <li class="list_item"> Fast application processing</li>
                    <li class="list_item">Opportunity to pay back earlier and manage your contract via Internet Banking </li>
                    <li class="list_item">We constantly offer discounts for home loans, when you receive the discount code from the seller and, please, do not forget to submit it completing the application for the home loan in the Internet Bank.</li>
                </ul>
                <p class="heading" style="margin-top: 1rem;">The loan must be secured by mortgage of real estate acceptable to the bank. Please note, that by using these financing services, you are assuming financial obligations. Improper fulfilment or non-fulfilment of financial obligations may
                    have a negative impact on your credit history and make borrowing more expensive; you also risk losing ownership rights to the mortgaged real estate.</p>
                <button class="btn"> <a href="/apply" style="text-decoration:none; color: #fff;">Apply</a> </button>
            </div>
            <div class="right"><img src="assets/img/sideimage.jpeg" alt=""> </div>
        </div>
    </div>


</section>
<app-footer></app-footer>